h1, h2, h3, h4 {
  color: darken($base-color, 10%);
}

h1 {
  font-weight: normal;
  font-size: 32px;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

$content-panel-grid-line: dynamic(if($theme-name == 'theme-material', if($dark-mode, #3a3a3a, #f5f5f5), #f5f5f5));
$content-panel-grid-background: dynamic(darken($content-panel-grid-line, 5%));

.main-background {
    // The 1.1px is needed for Edge to render correctly
    background-image:
        linear-gradient(00deg, $content-panel-grid-line 1.1px, transparent 0),
        linear-gradient(90deg, $content-panel-grid-line 1.1px, transparent 0);
    background-size: 20px 20px;
    background-color: $content-panel-grid-background;
    .demo-solid-background {
        background-color: $background-color;
    }
}

//Grid example
.under4 {
    color: #c83c3c;
}
.under5 {
    color: #ffa532;
}
.under6 {
    color: #1e3285;
}
.over6 {
    color: #2d802d;
}

.big-data-ratings-cell .x-grid-cell-inner {
    font-weight: bold;
    font-size: 35;
    font-weight: 35;
}

//PivotGrid example
.pivotCellGrandTotal {
  .x-inner-el {
    color: brown;
  }
}

.pivotCellGroupFooter {
  .x-inner-el {
    font-weight: bold;
  }
}

.pivotCellGroupHeader {
  .x-inner-el {
    color: blue;
  }
}

.pivotCellAbove500 {
  .x-inner-el {
    color: green;
  }
}

.pivotCellUnder500 {
  .x-inner-el {
    color: red;
  }
}