body {
    -webkit-font-smoothing: subpixel-antialiased;
}

$content-panel-grid-line: dynamic(if($theme-name == 'theme-material', if($dark-mode, #3a3a3a, #f5f5f5), #f5f5f5));
$content-panel-grid-background: dynamic(darken($content-panel-grid-line, 5%));

.main-background {
    // The 1.1px is needed for Edge to render correctly
    background-image:
        linear-gradient(00deg, $content-panel-grid-line 1.1px, transparent 0),
        linear-gradient(90deg, $content-panel-grid-line 1.1px, transparent 0);
    background-size: 20px 20px;
    background-color: $content-panel-grid-background;
    .demo-solid-background {
        background-color: $background-color;
    }
}

.card {
    > .x-inner, .x-body > .x-inner, .x-inner:not(.x-toolbar-inner).x-scroll-scroller {
        @include st-box;
        @include st-box-orient(vertical);
        @include st-box-align(center);
        @include st-box-pack(center);
    }

    .x-innerhtml {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        padding: 10px;
        width: 75%;
        margin: 0 auto;

        .x-phone & {
            width: auto;
            padding: 20px;
        }
    }

    .action {
        display: inline-block;
        background-color: rgba(#000, .06);
        border: 1px solid rgba(#fff, .1);
        padding: 1px 5px;
        @include border-radius(4px);
        color: #657b83;
    }

    code {
        color: #859900;
    }
}