body {
    -webkit-font-smoothing: subpixel-antialiased;
}

$content-panel-grid-line: dynamic(if($theme-name == 'theme-material', if($dark-mode, #3a3a3a, #f5f5f5), #f5f5f5));
$content-panel-grid-background: dynamic(darken($content-panel-grid-line, 5%));

.main-background {
    // The 1.1px is needed for Edge to render correctly
    background-image:
        linear-gradient(00deg, $content-panel-grid-line 1.1px, transparent 0),
        linear-gradient(90deg, $content-panel-grid-line 1.1px, transparent 0);
    background-size: 20px 20px;
    background-color: $content-panel-grid-background;
    .demo-solid-background {
        background-color: $background-color;
    }
}
