.x-itemheader {
    color: $color;
    font-weight: 600;
    background-color: $app-grey;
}

.app-list {
    border-style: solid;
    border-width: 0 1px;
    border-color: $list-item-border-color;
    box-shadow: 0 0 3px $list-item-border-color;
}

.app-favorite {
    color: #D0D0D0;
}

.app-favorite-selected {
    color: $accent-light-color;
}

.app-list-item {
    // padding: 15px 50px 15px 15px;
    position: relative;

    .app-list-tool {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
    }

    .x-innerhtml {
        display: flex;
        overflow: hidden;
        align-items: stretch;
    }
}

.app-list-content {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.app-list-text {
    flex: 1;
    overflow: hidden;
    padding-right: 30px;
}

.app-list-headshot {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 15px;
    background-size: 64px 64px;
}

.app-list-item-title {
    font-size: 18px;
    line-height: 1.5em;
    color: $base-color;
}

.app-list-item-details {
    font-size: 13px;
    font-weight: 100;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.x-listitem-body {
    width: 100%;
    overflow: hidden;
}
