$base-color: #054059;
$green: #87BD3E;
$accent-light-color: $green;

$material-icon-size: 24px;

$treelist-item-icon-width: $material-icon-size;
$treelist-item-icon-font-size: $material-icon-size;
$treelist-item-icon-font-size-big: $material-icon-size;
$button-icon-font-size: $material-icon-size;
$button-icon-size: $material-icon-size;
$tab-icon-size: $material-icon-size; 
$background-color: #f0f0f0;