$base-color: #7C4DFF;
$accent-light-color: #D500F9;
$app-grey: #F5F5F5;

$material-icon-size: 24px;

$treelist-item-icon-width: $material-icon-size;
$treelist-item-icon-font-size: $material-icon-size;
$treelist-item-icon-font-size-big: $material-icon-size;
$treelist-background-color: $base-color;
$button-icon-font-size: $material-icon-size;
$button-icon-size: $material-icon-size;
$tab-icon-size: $material-icon-size;
$background-color: #ffffff;
$tab-color: rgba($base-foreground-color, 0.7);
$tab-active-color: rgba($tab-color, 1);

$tab-font-size: 14px;
$tab-font-weight: 600;
