$base-color: #054059;
$accent-light-color: #87BD3E;

$material-icon-size: 24px;

$treelist-item-icon-width: $material-icon-size;
$treelist-item-icon-font-size: $material-icon-size;
$treelist-item-icon-font-size-big: $material-icon-size;
$button-icon-font-size: $material-icon-size;
$button-icon-size: $material-icon-size;
$tab-icon-size: $material-icon-size; 
$background-color: #f0f0f0;
$tab-color: rgba($base-foreground-color, 0.7);
$tab-active-color: rgba($tab-color, 1);

$tab-font-size: 14px;
$tab-font-weight: 600;