.demo-buttons {
    &.demo-buttons-desktop .button-group-label {
        padding: 25px 10px 0 0;
        text-align: right;
    }

    .button-group {
        background: rgb(240, 240, 240);
    }
}

