.demo-buttons {
    &.demo-buttons-desktop .button-group-label {
        padding: 25px 10px 0 0;
        text-align: right;
    }

    .button-group {
        background: rgb(240, 240, 240);
    }
}

@include button-ui(
    $ui: 'app-button-short',
    $padding: 4px 10px,
    $color: white
);

@include button-ui(
    $ui: 'app-show-code',
    $padding: 18px 18px,
    $icon-font-size: 22px,
    $color: white,
    $background-color: #ec407a,
    $focus-background-color: darken(#ec407a, 5%)
);
