@include treelist-ui(
    $ui: 'nav',

    // Extra padding left/right
    $padding: 0 $content-padding,

    // Black-ish background color
    $background-color: $base-dark-color,
    $toolstrip-background-color: $base-dark-color,

    $tool-selected-color: $reverse-color,
    $tool-selected-background-color: $base-color,

    $tool-float-indicator-width: 4px,
    $tool-float-indicator-color: $reverse-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: $base-dark-color,

    // Taller line height
    $item-line-height : 36px,

    // Off-white text
    $item-icon-color: $reverse-color,
    $item-expander-color: $reverse-color,
    $item-text-color: $reverse-color,

    // Brighter when hovered
    $row-over-background-color: $base-dark-color,
    $item-icon-over-color: $reverse-color,
    $item-expander-over-color: $reverse-color,
    $item-text-over-color: $reverse-color,

    $row-indicator-width: 6px,
    $row-indicator-selected-color: $accent-color,
    $row-indicator-selected-over-color: $accent-dark-color,
    $row-indicator-over-color: $accent-light-color,

    $tool-indicator-selected-color: $accent-dark-color,
    $tool-float-indicator-color: $accent-light-color,
    $tool-indicator-selected-width: 6px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 24px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    $item-icon-over-transition: none,
    $item-text-over-transition: none,
    $item-expander-over-transition: none,

    $item-expander-glyph: 'keyboard_arrow_up',
    $item-expander-expanded-glyph: 'keyboard_arrow_down',

    $row-selected-background-color: $base-color
);

$component-tree-background: #fafafa;
$component-tree-text-color: #212121;

@include treelist-ui(
    $ui: 'component-tree',
    $padding: 0 24px,
    $background-color: $component-tree-background,
    $item-line-height : 44px,
    $item-icon-color: $component-tree-text-color,
    $item-expander-color: $component-tree-text-color,
    $item-text-color: $component-tree-text-color,
    $row-over-background-color: darken($component-tree-background, 10%),

    $item-icon-over-color: $component-tree-text-color,
    $item-expander-over-color: $component-tree-text-color,
    $item-text-over-color: $component-tree-text-color,
    $item-icon-width: 0,
    $item-text-font-size: 16px,
    $item-text-icon-gap: 0,

    $row-indicator-width: 6px,
    $row-indicator-selected-color: $accent-color,
    $row-indicator-selected-over-color: $accent-dark-color,
    $row-indicator-over-color: $accent-light-color,

    $tool-indicator-selected-color: $accent-dark-color,
    $tool-float-indicator-color: $accent-light-color,
    $tool-indicator-selected-width: 6px,

    $item-icon-font-size: 18px,
    $item-icon-width: 24px,
    $item-expander-font-size: 22px,
    $item-expander-width: 24px,
    $item-expander-color: lighten($component-tree-text-color, 30%),

    $item-icon-over-transition: none,
    $item-text-over-transition: none,
    $item-expander-over-transition: none,

    $item-expander-glyph: 'keyboard_arrow_up',
    $item-expander-expanded-glyph: 'keyboard_arrow_down',

    $row-selected-background-color: darken($component-tree-background, 15%)
);

.x-treelist-component-tree .x-treelist-item-text {
    margin: 0;
}

.x-treelist-component-tree .x-treelist-item-expander {
    &:after {
        line-height: 44px !important;
    }
}