.app-container {
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto !important;
}

.app-icon {
    margin-right: 7px; 
    font-size: 20px; 
    line-height: 1em;
    display: inline;
    position: relative;
    top: 1px;
}

.app-title {
    font-size: 20px;
    line-height: 1em;
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 15px;
}

.app-menu-header {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    border-bottom: 1px solid #DADADA;
    color: $base-color;
}

.app-banner {
    background-color: $base-color;
    color: white;
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
    font-weight: 100;
}

.app-favorite, .app-favorite-selected {
    &::before {
        font-size: 24px !important;
    }
}

.app-desktop-tabs {
    .x-tabbar {
        background-color: $base-color;
        align-items: left;
    }
    .x-tab {
        flex: none !important;
        min-width: 80px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.app-event-name {
    color: $base-color;
    font-size: 24px;
}
.app-event-speaker {
    font-size: 16px;
    color: #666;
    margin-bottom: 1em;
}
.app-event-time, .app-event-location {
    font-size: 14px;
    color: #666
}

.app-banner-tabs {
    transform: translateZ(0) !important; 
    position: absolute !important;
}  

.app-notification-item {
    padding: 5px 0;
}

.app-notification-text {
    padding: 0 0 10px 0;
}

.app-notification-time {
    font-weight: bold;
}

.app-speaker-image {
    float: left;
    margin: 0 10px 5px 0;
    
    .x-phone & {
        width: 40vw;
    }
}

.app-speaker-name {
    font-weight: bold;
    font-size: 18px;
}

.app-speaker-title {
    font-style: italic;
    padding-top: 5px;
}

.app-speaker-company {
    font-style: italic;
    padding-bottom: 10px;
}

.app-speaker-bio {
    font-size: 16px;
}

.land {
    fill: #222;
}
.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}